SCSI2SD-util/SCSI2SD-util-v6.xcodeproj/project.xcworkspace/xcuserdata/heron.xcuserdatad/UserInterfaceState.xcuserstate
SCSI2SD-util/SCSI2SD-util-v6.xcodeproj/xcshareddata/
SCSI2SD-util/SCSI2SD-util-v6.xcodeproj/xcuserdata
SCSI2SD-util/SCSI2SD-util-v6.app
SCSI2SD-util/obj
*~